.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.5s ease-in-out;
  width: 50%;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.signup-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #444;
  text-shadow: 1px 1px #fff;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.signup-form label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #333;
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.signup-form input {
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  color: #333;
  animation: slideIn 0.5s ease-in-out;
  height: 3rem;
}

.signup-form button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  animation: slideIn 0.5s ease-in-out;
  width: 8rem;
  height: 3rem;
}

button:hover {
  background-color: #333;
  color: white;
}
